

.select .main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}
.items {
    padding: 4px;
    position: absolute;
    border: 1px solid #ff0000;
}
.select.active .items {
    display: block;
}
.item.selected {
    background: #1ea7fd;
    color: lightyellow;
}